.button_side_old {
    width: 1600px;
    height: 100px;
    position: relative;
    background-color: #9d9d9d;
}

.button_side_new {
    width: 1600px;
    height: 100px;
    position: relative;
    background-color: #9d9d9d;
}

.func_side {
    width: 1600px;
    height: 800px;
    position: relative;
    background-color: #f2dede;
}

.btn {
    width: 100px;
    height: 50px;
    position: relative;
    margin-left: 100px;
}